<!DOCTYPE html>
<html>
<head>
    <title>欢迎使用后台管理系统</title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/api-animation.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <%- include header.html%>
    <section>
        <%- include menu.html%>
        <aside class="content">
            <h1>这个是主页信息</h1>
        </aside>
    </section>
</body>
</html>
<script src="/public/js/main.js"></script>