<!DOCTYPE html>
<html>
<head>
    <title>欢迎使用后台管理系统</title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="wrap">
        <header class="header">
            <div class="logo">后台管理系统</div>
            <div class="bigMenu"></div>
            <div class="settings">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-submenu index="2">
                        <template slot="title"><%=locals.username%></template>
                        <el-menu-item index="2-1">设置</el-menu-item>
                        <el-menu-item index="2-2">
                            <a href="/logout">退出登录</a>
                        </el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>

        </header>
        <section>
            <aside class="menu">
                <el-menu :default-active="activeIndex" class="el-menu-demo" @select="handleSelect">
                    <el-menu-item index="1">处理中心</el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">系统管理</template>
                        <el-menu-item index="2-1">用户管理</el-menu-item>
                        <el-menu-item index="2-2">角色管理</el-menu-item>
                        <el-menu-item index="2-3">资源管理</el-menu-item>
                        <el-submenu index="2-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="2-4-1">选项1</el-menu-item>
                            <el-menu-item index="2-4-2">选项2</el-menu-item>
                            <el-menu-item index="2-4-3">选项3</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="3" disabled>消息中心</el-menu-item>
                    <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
                </el-menu>
            </aside>
            <aside class="content">
                这个是主页信息
            </aside>
        </section>
    </div>

</body>
</html>
<script>
    var app1 = new Vue({
        el:"#wrap",
        data:{
            activeIndex:"1"
        },
        methods:{
            handleSelect:function(){

            }
        }

    })
</script>