<!DOCTYPE html>
<html>
<head>
    <title>欢迎使用后台管理系统</title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<%- include header.html%>
<section>
    <%- include menu.html%>
    <aside class="content" id="content">
            <template>
                <el-table :data="tableData" style="width: 100%" size="mini">
                    <el-table-column prop="menuName" label="菜单名" width="180">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{ scope.row.cdmc }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="url" label="菜单地址" width="180">
                        <template slot-scope="scope">
                            <a href="javascript:;">{{ scope.row.cddz }}</a>
                        </template>
                    </el-table-column>
                    <el-table-column prop="email" label="上级菜单">
                        <template slot-scope="scope">
                            <p>{{ scope.row.sjcd }}</p>
                        </template>
                    </el-table-column>
                    <el-table-column prop="state" label="备注信息">
                        <template slot-scope="scope">
                            <p>{{ scope.row.bzxx }}</p>
                        </template>
                    </el-table-column>
                    <el-table-column prop="operate" label="操作" :render-header="renderHeader">
                        <template slot-scope="scope">
                            <el-button size="mini">编辑</el-button>
                            <el-button size="mini" type="danger">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
    </aside>
</section>
</body>
</html>
<script src="/public/js/main.js"> </script>
<script src="/public/js/menuManage.js"></script>