<!DOCTYPE html>
<html>
<head>
    <title>欢迎使用后台管理系统</title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css"/>
    <!-- <link href="/public/css/admin.css" rel="stylesheet" type="text/css"/> -->
    <link href="/public/css/user-manage.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <%- include header.html%>
    <section>
        <%- include menu.html%>
        <aside class="content" id="content">
            <el-form :inline="false" v-model="userForm" class="demo-form-inline api-user query-api">
                <el-row :gutter="2">
                    <el-col :sm="8" :md="6" :lg="4">
                        <el-form-item label="登录名">
                            <el-input v-model="userForm.username" placeholder="登录名" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="8" :md="6" :lg="4">
                        <el-form-item label="用户角色">
                            <el-select v-model="userForm.userrole" placeholder="用户角色" size="mini">
                                <el-option v-for="(vo,index) in roleList" :label="vo.rolename" :value="vo.roleId"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="8" :md="6" :lg="4">
                        <el-form-item label="手机号">
                            <el-input v-model="userForm.phone" placeholder="手机号" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="8" :md="6" :lg="4">
                        <el-form-item label="邮箱">
                            <el-input v-model="userForm.email" placeholder="邮箱" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :sm="8" :md="6" :lg="4">
                        <el-form-item label="状态">
                            <el-select v-model="userForm.state" placeholder="状态" size="mini">
                                <el-option label="有效" value="1"></el-option>
                                <el-option label="无效" value="0"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col  :sm="8" :md="8" :lg="4">
                        <el-form-item>
                            <el-button type="primary" @click="searchList" size="mini" style="padding:7px 10px;">查询</el-button>
                            <el-button type="danger" @click="batchDelete" size="mini" style="padding:7px 10px;">批量删除</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <template>
                <el-table :data="tableData" style="width: 100%" size="mini" class="aa-table" @select="selectRow" @select-all="selectAll" ref="list">
                    <el-table-column fixed type="selection" label="" width="50"></el-table-column>
                    <el-table-column fixed type="index" label="序号" width="50"></el-table-column>
                    <el-table-column fixed prop="username" label="登录名" width="100"></el-table-column>
                    <el-table-column fixed prop="realName" label="姓名" width="100"></el-table-column>
                    <el-table-column fixed prop="rolename" label="角色" width="100"></el-table-column>
                    <el-table-column fixed prop="phone" label="手机号" width="180"></el-table-column>
                    <el-table-column fixed prop="email" label="邮箱"></el-table-column>
                    <el-table-column fixed prop="state" label="是否有效" :formatter="formatState"></el-table-column>
                    <el-table-column fixed prop="memo" label="备注信息"></el-table-column>
                    <el-table-column fixed prop="operate" label="操作" :render-header="renderHeader" width="180" align="center">
                        <template slot-scope="scope">
                                <el-button size="mini" @click="editUserHandler(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="deleteUserHandler(scope.row)">删除</el-button>
                            </template>
                    </el-table-column>
                </el-table>
                <div class="block repeat-menu-page">
                        <el-pagination  background
                        :current-page="page.currentPage"
                        :page-sizes="page.pageSizes"
                        :page-size="page.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="page.total"
                        @size-change="sizeChangeHandler"
                        @current-change="currentChangeHandler"></el-pagination>
                </div>
            </template>
            <!-- 新增用户 修改用户 -->
            <el-dialog :title="dialogTile" :visible.sync="dialogMenWinVisible"  custom-class="add-dialog" width="50%" :close-on-click-modal="false" v-cloak @close="closeUserDialog('newUser')">
                    <el-form :label-position="'left'" label-width="80px" ref="newUser" :model="newUser" size="mini" :rules="rules" :show-message="true" :status-icon="true" class="demo-form-inline api-user">
                        <el-row :gutter="10">
                            <el-col :sm="12" :md="12" :lg="8">
                                <el-form-item label="登录名" prop="username">
                                    <el-input v-model="newUser.username" placeholder="登录名" size="mini"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="12" :md="12" :lg="8">
                                <el-form-item label="用户名" prop="realName">
                                    <el-input v-model="newUser.realName" placeholder="用户名" size="mini"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="12" :md="12" :lg="8">
                                <el-form-item label="用户角色" prop="userrole">
                                    <el-select v-model="newUser.userrole" placeholder="用户角色" size="mini">
                                        <el-option v-for="(vo,index) in roleList" :label="vo.rolename" :value="vo.roleId"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="12" :md="12" :lg="8">
                                <el-form-item label="手机号码" prop="phone">
                                    <el-input v-model="newUser.phone" placeholder="手机号码" size="mini"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :sm="12" :md="12" :lg="8">
                                <el-form-item label="电子邮箱" prop="email">
                                    <el-input v-model="newUser.email" placeholder="电子邮箱" size="mini"></el-input>
                                </el-form-item>
                            </el-col>  
                            <el-col :sm="24">
                                <el-form-item label="描述" prop="memo">
                                    <el-input type="textarea" v-model="newUser.memo"></el-input>
                                </el-form-item>
                            </el-col>                                  
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="closeUserDialog('newUser')">取消</el-button>
                        <el-button type="primary" @click="submitUserDialog('newUser')">确定</el-button>
                    </div>
            </el-dialog>
            <!--删除的提示信息-->
            <el-dialog title="提示信息" :visible.sync="confirmVisible" width="30%"  custom-class="api-dialog-tips" v-cloak>
                <span>此操作将永久删除该记录，是否继续？</span>
                <span slot="footer" class="dialog-footer">
                    <el-button size="mini" @click="cancelHandler">取 消</el-button>
                    <el-button type="primary" @click="deleteHandler" size="mini">确 定</el-button>
                </span>
            </el-dialog>
        </aside>
    </section>
</body>
</html>
<script src="/public/js/main.js"> </script>
<script src="/public/js/userManage.js"></script>