<link rel="Shortcut Icon" href="/public/favicon.ico"/>
<link href="/public/css/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/public/core/element/element-ui.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/element.kz.css" rel="stylesheet" type="text/css"/>
<link href="/public/css/common.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/public/core/vue.js"></script>
<script type="text/javascript" src="/public/core/element/element-ui.js"></script>
<script type="text/javascript" src="/public/core/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/public/js/util/eleUtil.js"></script>