<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/public/css/login.css" rel="stylesheet" type="text/css"/>
    <%- include ./default.html%>
</head>
<body>
    <header>
        <div class="api-w1024 api-header">
            <a href="#" class="ah-logo">API开发指南</a>
        </div>

    </header>
    <div class="api-logo-bg">
        <div class="alb-box clearfix">
            <form>
                <h3>后台管理系统</h3>
                <input class="alb-group" type="text" placeholder="请输入账号" />
                <input class="alb-group" type="password" placeholder="请输入密码" />
                <input class="alb-btn" type="submit" value="登录" />
            </form>
        </div>

    </div>
    <footer class="api-footer">
        <p class="api-w1024">胜意前端开发组开发</p>
    </footer>
</body>
</html>
<script>
    var app1 = new Vue({
        el:"#loginForm",
        data:{
            user:{
                username:"",
                password:""
            }
        },
        methods:{
            loginHandler:function(){
                var user = this.$data.user;
                if(!user.username){
                    alert("请输入用户名！");
                }else if(!user.password){
                    alert("请输入密码！");
                }else{
                    $.ajax({
                        type:"post",
                        url:"/api/login",
                        data:user,
                        success:function(result){
                            if(result.status === "success"){
                                location.href = "/admin/main";
                            }else{
                                alert(result.message);
                            }
                        }
                    })
                }
            }
        }
    })
</script>