.api-user{border:1px solid #efefef;background:#fff;padding: 0px 10px;border-radius: 2px;}
.api-user .el-form-item{margin-bottom:2px;margin-right: 20px;}
.api-user .el-form-item .el-input__inner{width: 160px;padding: 0px 8px;}
.api-user .el-form-item .el-select .el-input__inner{width: 100px;}

.aa-table{border:1px solid #ebeef5;margin-top: 20px;border-bottom: 0px; }