.article-container{width: 1156px;margin: 20px auto;}
.article-container .main{width: 840px;float: left;position: relative;}
.article-container .main .article{padding: 20px 0;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);background-color: #fff;}
.article-container > aside{width: 300px;float: right;min-height: 300px;}
.article-title{font-size: 24px;line-height: 38px;padding:0 25px;word-wrap:break-word;word-break: break-all;}
.article-bar{padding: 0 25px 0 25px;font-size: 14px;line-height: 34px;color: #888;border-bottom: 1px solid #e5e5e5;}
.article-bar .time{display: inline-block;}
.article-bar .read{display:block;float:right;}
.right_column{background-color: #fff;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);min-height: 624px;}
.user-info{padding: 14px 0;}
.user-info .info_bar{padding-bottom: 14px;border-bottom: 1px solid #e5e5e5;}
.user-info .info_bar dt{margin-left: 24px;width: 64px;height: 64px;background-color:#0cb7eb;display: inline-block;border-radius: 50%;line-height: 64px;text-align: center;color: #fff;font-weight: bold;}
.user-info .info_bar dd{display: inline-block;margin-left: 30px;vertical-align:top;}
.user-info .info_bar dd h1{margin-top: 16px;font-size: 16px;}
.info_num_box{padding:16px 0 16px;text-align: center;border-bottom: 1px solid #e5e5e5;}
.info_num_box dl{display: inline-block;text-align: center;width: 25%;}
.info_num_box dl dt{color: #788087;overflow: hidden;width: 100%;line-height: 24px;}
.info_num_box dl dd{color: #4f4f4f;overflow: hidden;width: 100%;font-weight: 700;line-height: 24px;}
.article-container .article-content{padding: 20px;color: #454545;word-wrap: break-word;word-break: break-all;min-height: 500px;}
.tag_box {padding: 16px 8px;border-bottom: 1px solid #e5e5e5;}
.tag_box .el-tag +.el-tag{margin-left: 10px;}
.arc-class {display: inline-block;max-width: 480px;margin-left: 30px;overflow: hidden;vertical-align: bottom;}
.arc-class .el-breadcrumb {line-height: 34px;vertical-align: bottom;}
.relative_box{padding: 16px 8px;border-bottom: 1px solid #e5e5e5;min-height: 150px;}
.relative_box dl dt {color: #000;}
.relative_box dl dd {padding:3px 0 3px 15px;font-size: 13px;}
.relative_box dl dd a{color: #757a7e;}
.relative_box dl dd a i{color: rgba(64,158,255,.6);}
.relative_box .num-top{margin-bottom: 8px;}
.relative_box .date-top{margin: 8px 0;}
.comment-area{margin-top: 20px;padding: 20px;background-color: #fff;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);}
.comment-area .no-login{margin: 0;background-color: #e7ecf1;height: 60px;text-align: center;vertical-align: middle;margin-bottom: 20px;}
.comment-area .no-login span{display: inline-block;height: 40px;line-height: 40px;margin-top: 10px;}
.comment-area .no-login span a{color: red;font-size: 14px;margin: 0 5px;text-decoration: underline;}
.comment-area .comment-box{width: 100%;}
.comment-area .comment-box textarea{width: 97%;resize: none;height: 70px;padding: 6px 10px;border-color: #ccc;}
.comment-area .comment-box .comment-publish{display: flex;flex-direction: row;justify-content: flex-end;margin-top: 6px;padding-right: 10px;}
.comment-area .comment-box .comment-publish span{line-height: 26px;padding-top: 1px;}
.comment-area .comment-box .comment-publish span i{font-style: normal;color: #ff0000;}
.comment-area .comment-box .comment-publish a{padding: 1px 10px;border: 1px solid #0cb7eb;border-radius: 5px;margin-left: 10px;line-height: 26px;}
.comment-area .comment-box .comment-publish a:hover{background-color: #0cb7eb;color: #fff;}
.comment-area .comment-list{width: 800px;margin-top: 20px;}
.comment-area .comment-list .list-box{margin: 0;padding: 0;}
.comment-area .comment-list .list-box li{list-style: none;border-bottom: 1px solid #ddd;padding: 8px 0;}
.comment-area .comment-list .list-box li:nth-child(1){border-top: 1px solid #ddd;}
.comment-area .comment-list .list-box .cms_info{display: flex;flex-direction: row;flex-wrap: nowrap;}
.comment-area .comment-list .list-box .cms_info .cms_user{max-width:80px;margin-right: 20px;color: #0cb7eb;cursor: pointer;}
.comment-area .comment-list .list-box .cms_info .cms_time{margin-right: 40px;}
.comment-area .comment-list .list-box .cms_content{text-indent: 2em;line-height: 22px;}
.right_column .navigation {border-bottom: 1px solid #e5e5e5;position: relative;color:#000;}
body #autocjs-0{
    position: absolute;
    left:0;
    top:0;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.autocjs-code{
    padding-right: 5px;
}
.autocjs-subjects{
    margin-left: 5px;
}
.autocjs-bd{margin-top: 10px;}
.right_column .navigation li{list-style: square;list-style-position: inside;}
.right_column .navigation a{color: #000;}