/*首页样式*/
.api-header ul{float: right;display: inline-block;margin:14px 0px;}
.api-header ul li{float: left;margin-left: 25px;height: 32px;}
.api-header ul li a{display: block;padding: 0px 15px;border:1px solid #ccc;line-height: 30px;color:#777;border-radius: 2px;}
.api-header ul li a:hover,.api-header ul li.active a{background: #0cb7eb;color:#fff;border-color:#0cb7eb;}

.api-container{margin: 30px auto 50px;}
.ac-box{width: 500px;border:1px solid #ddd;background: #fff;display: inline-block;float: left;border-radius: 2px;min-height: 538px;}
.ac-box:first-child{margin-right: 20px;}
.ac-box h3{border-bottom: 1px solid #ddd;font-weight: bold;font-size: 16px;color:#0cb7eb;padding:5px 10px;line-height: 24px;}
.ac-box ul li{padding: 0px 10px;}
.ac-box ul li:hover{box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);background: #f2fcff;}
.ac-box ul li .al-li-title{height: 30px;line-height: 30px;}
.ac-box ul li .al-li-title h4{color:#666;display: inline-block;font-size: 15px;width: 70%;overflow: hidden; text-overflow: ellipsis;}
.ac-box ul li .al-li-title .ali-right{color:#f77d00;}
.ac-box ul li .ali-right{display: inline-block;float: right;font-size: 12px;}
.ac-box ul li .al-li-icon{font-size: 12px;line-height: 20px;padding-bottom: 5px;border-bottom: 1px dashed #ddd;}
.ac-box ul li:last-child .al-li-icon{border-bottom: 0px;}

/*分类查找页面样式*/
#list{height:calc(100% - 140px);}
.api-list-con{height:100%;background: #fff;border:1px solid #ddd;}
.api-list-con .alc-tree{ border-right:1px solid #ddd;}
.api-list-con .alc-tree .ztree{ padding: 10px;}
.ac-list{width: 50%;display: inline-block;margin-bottom: 10px;float: right;}
.ac-list .el-select .el-input { width: 85px;}
.ac-list .input-with-select .el-input-group__prepend { background-color: #fff;}
