.api-logo-bg{height: calc(100% - 110px);background: linear-gradient(to right top, #00e6ff, #0cb7eb 50%, #016786);}
.alb-box{margin:0px auto;width: 360px;position: relative;height: 100%;}
.alb-box form{background: #fff;border-radius:5px;box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);position: absolute;left:0px;right:0px;height: 270px;top:50%;margin-top: -135px;}
.alb-box h3{font-size: 18px;line-height: 40px;text-align: center;margin: 10px 0px;}
.alb-box .alb-group{/*border-radius:3px;border:1px solid #ddd;*/margin:0px 30px 20px 30px;}
.alb-box .alb-group i.fa{font-size: 16px;display: inline-block;width: 16px;text-align: center}
.alb-box .alb-btn{border-radius:3px;display: block;margin:0px 30px 20px 30px;width: calc(100% - 60px);height: 40px;background: #0cb7eb;border:1px solid #0cb7eb;letter-spacing: 10px; font-size:16px;color: #fff;}

