.el-form{
    border:1px solid #efefef;
    background:#fff;
    padding: 5px 5px;
    border-radius: 2px;
    margin-bottom: 5px;
}

.el-row .el-col .el-form-item{
    clear: both;
    margin-bottom: 15px;
}

.el-row .el-col .el-form-item .el-form-item__label{
    width: 80px;
    float: left;
    padding: 0 5px;
}

.el-row .el-col .el-form-item .el-form-item__content{
    margin-left: 90px;
    position: relative;
    min-height:28px;
}

.el-popper[x-placement^=bottom]{
    margin-top: 0px;
}

.add-dialog .el-dialog__body{
    padding: 15px 10px;
}

.add-dialog .el-form{
    padding:15px 5px;
}