<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/article.css" rel="stylesheet" type="text/css"/>
    <link href="/public/plugins/highlight/css/default.css" rel="stylesheet" type="text/css"/>
</head>
<body style="background: #f6f6f6">
    <header class="api-header">
        <div class="api-w1024">
            <a href="/" class="ah-logo">API开发指南</a>
            <ul>
                <li><a href="/list">分类查找</a></li>
                <li><a href="/linestudy">在线学习</a></li>
                <li><a href="#">在线考试</a></li>
                <li><a href="/login">管理中心</a></li>
            </ul>
        </div>
    </header>
    <div class="article-container clearfix" id="article">
        <input type="hidden" value="<%=id%>" id="aid">
        <div class="main">
            <div class="article">
                <h1 class="article-title">{{d.title}}</h1>
                <div class="article-bar">
                    <span class="time">{{d.time2}}</span>
                    <div class="arc-class">
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item v-for="(d,k) in arcClassList" :key="k">{{d.typeName}}</el-breadcrumb-item>
                        </el-breadcrumb>
                    </div>
                    <span class="read"><i class="fa fa-eye" style="margin:0 3px;"></i>{{d.readCount+1}}</span>
                </div>
                <div class="article-content" v-html="d.content"></div>
            </div>
            <div class="comment-area">
                <div class="no-login" v-if="!isLoged">
                    <span>您还没有登录，请<a href="/login">登录</a>后进行评论</span>
                </div>
                <div class="comment-box" v-else>
                    <textarea placeholder="文明社会,理性发言..." v-model="commentWord" @keyup="controlCommentLength"></textarea>
                    <p class="comment-publish"><span>您还可以输入<i>{{wordCount}}</i>个字</span>
                    <a href="javascript:void(0);" @click="addComment">发表评论</a></p>
                </div>
                <div class="comment-list">
                    <ul class="list-box">
                        <li v-for="(vo,v) in talkList">
                            <dl>
                                <dt class="cms_info"><span class="cms_user">{{vo.realName}}</span><span class="cms_time">{{vo.time2}}</span><span class="number">#{{v+1}}楼</span></dt>
                                <dd class="cms_content">{{vo.content}}</dd>
                            </dl>
                        </li>
                        <!-- <li>
                            <dl>
                                <dt class="cms_info"><span class="cms_user">李云峰</span><span class="cms_time">2018-04-17 09:45:15</span><span class="number">#1楼</span></dt>
                                <dd class="cms_content">作为关系型数据库中使用最广泛的数据库，oracle确实有其优秀之处。作为关系型数据库中使用最广泛的数据库，oracle确实有其优秀之处。作为关系型数据库中使用最广泛的数据库，oracle确实有其优秀之处。</dd>
                            </dl>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <aside>
            <div class="user-info right_column">
                <dl class="info_bar clearfix">
                    <dt><i style="font-size: 20px;">v</i>etech</dt>
                    <dd>
                        <h1>{{d.realName}}</h1>
                    </dd>
                </dl>
                <div class="info_num_box clearfix">
                    <dl>
                        <dt>文章</dt>
                        <dd>{{statistic.artNum||1}}</dd>
                    </dl>
                    <dl>
                        <dt>评论</dt>
                        <dd>{{statistic.msgNum||0}}</dd>
                    </dl>
                    <dl>
                        <dt>收藏</dt>
                        <dd>{{d.collectCount||0}}</dd>
                    </dl>
                </div>
                <div class="tag_box">
                    <el-tag v-for="(dr,index) in artTags" :type="tagStyle[index]" :key="index">{{dr.tagName}}</el-tag>
                </div>
                <div class="relative_box">
                    <dl>
                        <dt class="num-top">{{d.realName}}的最热文章</dt>
                        <dd v-for="(a,b) in topList._numList" :key="b">
                            <a :href="'/article/'+a.id" target="_blank">{{a.title}}&nbsp;(<i class="fa fa-eye" title="浏览量"></i>{{a.readCount}})</a>
                        </dd>
                        <dt class="date-top">{{d.realName}}的最新文章</dt>
                        <dd v-for="(c,d) in topList._dateList" :key="d+10">
                            <a :href="'/article/'+c.id" target="_blank">{{c.title}}&nbsp;(<i class="el-icon-time" title="发布时间"></i>{{c.time2}})</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </aside>
    </div>
    <script type="text/javascript" src="/public/plugins/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="/public/js/front/article.js"></script>
</body>
</html>