<!DOCTYPE html>
<html>
<head>
    <title>页面标题</title>
    <meta charset="utf-8">
    <%- include ../default.html%>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
</head>

<body style="background: #f6f6f6">

    <header class="api-header">
        <div class="api-w1024">
            <a href="/" class="ah-logo">API开发指南</a>
            <ul>
                <li><a href="/list">分类查找</a></li>
                <li><a href="#">在线学习</a></li>
                <li><a href="#">在线考试</a></li>
                <li><a href="/login">管理中心</a></li>
            </ul>
        </div>
    </header>
    <div class="api-w1024 api-container clearfix">
        <div class="ac-box ac-left">
            <h3>浏览最多的文章</h3>
            <ul>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">总浏览量：100</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ac-box ac-right">
            <h3>最新发布的文章</h3>
            <ul>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="al-li-title"><h4>预订组出票规则 </h4><span class="ali-right">最后时间：2018-03-15</span></div>
                        <!--<p>出票规则根据xx依据……</p>-->
                        <div class="al-li-icon"><span>发布者：张三</span><span class="ali-right">发布时间：2018-03-15</span></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <footer class="api-footer">
        <p class="api-w1024">胜意前端开发组开发</p>
    </footer>
</body>

</html>